.address {
  &__label {
    font-family: Poppins, sans-serif;
    font-style: Regular;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 8px;
  }

  &__content {
    font-family: Poppins, sans-serif;
    font-style: medium;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 24px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: rgba(126, 126, 131, 1);
    }
  }
}
