.bike {
  &__photo {
    width: 280px;
    height: 228px;
    object-fit: cover;
    object-position: top;
    display: block;
    margin: 0 auto 32px;

    @include for-ipad {
      width: 392px;
      height: 319px;
    }

    @include for-desktop {
      width: 324px;
      height: 256px;
    }
  }

  &__name {
    font-family: Poppins, sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 8px;
  }

  &__description {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 16px;
  }

  &__price {
    font-family: Poppins, sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 40px;
  }
}
