@use '../utils/mixins' as *;

.burger {
  display: flex;
  &__label {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 133%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
  }

  &__icon {
    width: 24px;
    height: 24px;

    @include for-ipad {
      width: 32px;
      height: 32px;
    }

    @include for-desktop {
      width: 32px;
      height: 32px;
    }
  }

  &:not(:hover) &__label {
    @include visually-hidden;
  }
}
