.button {
  border: 2px solid #0075FF;
  border-radius: 8px;
  display: block;
  text-decoration: none;
  color: #0075FF;
  text-align: center;
  height: 56px;
  line-height: 56px;
  font-weight: 700;
}
