.button {
  background: rgba(255, 255, 255, 1);
  border-radius: 40px;
  display: block;
  text-decoration: none;
  text-align: center;
  height: 56px;
  width: 278px;
  font-family: Poppins, sans-serif;
  font-style: bold;
  font-size: 16px;
  line-height: 56px;
  font-weight: 700;
  color: rgba(29, 29, 29, 1);
  margin: 0 auto;

  @include for-ipad {
    width: 392px;
  }

  @include for-desktop {
    width: 324px;
  }

  &--primary {
    width: 280px;

    @include for-ipad {
      width: 288px;
    }

    @include for-desktop {
      width: 411px;
    }

    &:hover {
      box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.4);
    }
  }
}
