.footer {
  height: 206px;
  background-image: url('../images/photos/Miami_footer.jpg');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  align-items: center;
  padding-bottom: 30px;
  box-sizing: border-box;
  background-position: center;
}
