@use '../utils/mixins' as *;

.footer {
  height: 200px;
  background-image: url('../images/photos/footer.jpg');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  align-items: center;
  box-sizing: border-box;
  background-position: 90% center;

  @include for-ipad {
    height: 480px;
  }

  @include for-desktop {
    height: 555px;
  }
}
