.header {
  background-color: black;
  background-image: url('../images/photos/header-background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 47px 90px;
  box-sizing: border-box;
}
