.title {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;
  vertical-align: middle;
  color: white;
  &--secondary {
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: left;
    color: black;
  }

  &--section {
    color: black;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -1.5px;

    &::after {
      content: '';
      display: block;
      margin: 0 auto;
      width: 20px;
      height: 12px;
      background-image: url(../images/crown.svg);
    }
  }

  &--highlight {
    color: #0075ff;
  }
}
